{% extends "account/base.html" %} {% block content %}
<div class="container">
  <div class="w-50 ml-auto mr-auto">
    <p class="display-4">Login</p>
    <hr class="my-2" />
    <form class="form-group" method="POST" action=".">
      {% csrf_token %}
      <label class="col-form-label" for="old-password">Old Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Old Password"
        id="old_password"
        name="old_password"
      />
      <label class="col-form-label" for="new_password1">New Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="New Password"
        id="new_password1"
        name="new_password1"
      />
      <label class="col-form-label" for="new_password2"
        >New Password again</label
      >
      <input
        type="password"
        class="form-control"
        placeholder="New Password again"
        id="new_password2"
        name="new_password2"
      />
      <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}
